.header-page {
    padding: 5px 20px;
}

.header-page #container-user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-page #container-user #user-name {
    font-weight: 600;
}

.container-timeline {
    padding: 20px;
    background-color: #e6e6e6;
}

.container-timeline .form-post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-timeline .form-post #new-post {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.05);
}

.container-timeline .form-post #add-post {
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    background-color: #7ed957;
    color: #fff;
    transition: 0.3s;
    position: relative;
    font-weight: 600;
}

.container-timeline .form-post #add-post:active {
    background-color: #6ecf4a;
    transition: 0.3s;
}

.container-timeline .feed-post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.container-timeline .feed-post .post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.05);
}

.container-timeline .feed-post .post .user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 13px;
}

.container-timeline .feed-post .post .user-info .user-icon {
    filter: invert(100%);
    width: 30px;
    height: 30px;
}

.container-timeline .feed-post .post .post-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.container-timeline .feed-post .post .post-actions .action {
    border: none;
    background: none;
}

.container-timeline .feed-post .post .post-actions .action:last-of-type {
    margin-left: auto;
}

.container-timeline .feed-post .post .post-interactions {
    font-size: 12px;
}
.icon-delete{
    width: 25px;
}
/* Estilo para o modal de exclusão */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  }
  
  .modal-content {
    background-color: #fff;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilo para os botões do modal */
  #confirm-delete, #cancel-delete {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #confirm-delete:hover, #cancel-delete:hover {
    background-color: #0056b3;
  }  



 
  
  /* Estilo para o botão Excluir no modal */
  #confirm-delete {
    background-color: #dc3545;
  }
  
  #confirm-delete:hover {
    background-color: #c82333;
  }
  

@media screen and (min-width: 768px) {
    .container-timeline .form-post #add-post {
        width: fit-content;
        align-self: flex-end;
    }
}