* {
    margin: 0;
    padding: 0;

}

html, body, main {
 
   width: 100%;
   height: 100%;

}

.icons {
    width: 50px;
    height: 50px;
}

.error {
    color: rgb(236, 59, 59);
    font-size: 12px;
    display: none;
    margin-top: 5px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

input.error-input {
    border: 1px solid rgb(236, 59, 59);
}


.senha-input {
    position: relative;
}

.senha-input img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.confirme-input {
    position: relative;
}

.confirme-input img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

#text-slogan {
    color: #7ED957;
    font-size: 20px;
    text-align: center;

}

.figure-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-registro {
    background-color: #7ED957;
    height: 100vh;
}

.logo-registro img {
    width: 80vw;
}

.frase-registro{
    color: white;
    width: 90vw;
    height: 16vw;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
 }

.senha-img {
    position: relative;
    display: inline-block;
}

.confirme-img {
    margin-left: 20px;
}

a:link {
    color: white;
}

.container-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    list-style-type: none;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    background-color: #7ED957;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #7ED957;
}

.form-field li {
    width: 100%;
}

#preencher {
    border-radius: 30px;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-left: 15px;
    width: 300px;
    background-color: #9edf83;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.main-registro {
    background-color: transparent;
    height: 100%;
    width: 68%;
    flex-direction: column;
    margin-top: 0;
}

.frase-registro {
    color: white;
    width: 90vw;
    height: 16vw;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}


.container-registro {
    background-color: #7ED957;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

#register-button {
    background-color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 15px;
    color: rgb(41, 153, 22);
    font-size: 20px;
}


#register-button:hover {
    color: rgb(9, 247, 9);
}

#register-button:placeholder {
    color: white;
}

a {
    color: rgb(88, 85, 85);
}

a:hover {
    color: rgb(41, 153, 22);
}


    #logo-registro {
        text-align: start;
        /* margin-top: 100px; */
        margin-left: 300px;
        background-color: #7ed957;
    }

@media screen and (min-width: 1024px) {


    .main-registro {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin: 10px;
    }

    .frase-registro {
        width: 80%;
    }

    .container-forms {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        margin: 10px;
    } 

    .figure-login {
        flex-direction: row;
        align-items: flex-start;
        float: left;
        margin-bottom: 5vw;

    }
    .frase-registro{
        border: none;
        width: 30vw;
        height: 88px;
        font-size: 20px;
        background-color: rgba(254, 255, 255, 0.1);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
@media screen and (min-width: 688px) {
        #input{

            justify-content: center;
            flex-direction: column;
            display: flex;

        }

        .main-registro {
            margin-left: 100px;
            margin-right: 100px;
            margin: 10px;
        }

        .logo-registro img {
            width: 50%;
            height: 50%;
        }
        .frase-registro{
            border: none;
            width: 30vw;
            height: 88px;
            font-size: 20px;
            background-color: rgba(254, 255, 255, 0.1);
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }


    }


}